@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Mantenemos el bloqueo del scroll exterior para evitar el doble scroll */
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
